body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-header {
  font-size: calc(10px + 2vmin);
}

.app-header .add-result-button {
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.app-header .add-result {
  position: absolute;
  z-index: 1;
  top: 60px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 400px;
}

.app-header a {
  color: white;
}

.app-header-item {
  margin-left: 8px;
  margin-right: 8px;
}

.app-header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.app-header-grow {
  flex-grow: 1;
}

.app-header-grouping {
  display: flex;
}

.winning-row {
  background-color: #00ff7338;
}

.marked {
  font-weight: bold;
}

.date-time {
  font-size: small;
}

.highlighted {
  background-color: #ffff6f;
  animation-name: fade;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes fade {
  from {
    background-color: #ffff6f;
  }
  to {
    background-color: #fff;
  }
}

.stats-player-wins {
  font-size: xx-large;
  margin-left: 5px;
  margin-right: 5px;
}

.stats-player-goals {
  font-size: smaller;
}

input[type="date"]::-webkit-clear-button {
  display: none;
}

.rating {
  font-weight: normal;
  margin-left: 5px;
  cursor: pointer;
}
